.panels-container {
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 20px;

  @media (max-width: 1024px) {
    grid-template-columns: 100%;
    row-gap: 40px;
  }
}

.equity-chart {
  margin-top: 48px;
  margin-bottom: 80px;

  @media (max-width: 1024px) {
  margin-top: 64px;
  margin-bottom: 64px;
  }
}