// primary
$blue: #3f8cff !default;
$hover: #3f8cff !default;
$purple: #6c5dd3 !default;
$pink: #ffa2c0 !default;
$green: #7fba7a !default;

// accent
$light-blue: #4bc9f0 !default;
$light-brown: #e4d7cf !default;
$yellow: #ffd166 !default;
$lilac: #cdb4db !default;
$accent-blue: rgba(63, 140, 255, 0.08) !default;

// neutral
$gray-darkest: #1f2128 !default;
$gray-darker: #242731 !default;
$gray-dark: #353945 !default;
$gray: #808191 !default;
$gray-light: #b1b5c3 !default;
$gray-lighter: #e6e8ec !default;
$gray-lightest: #f4f5f6 !default;

$almost-white: #fcfcfd;

$link-hover: #315ec9;

$border-blue: #315ec9;

$positive-color: $green;
$neutral-color: $purple;
$negative-color: $pink;

$darker-blue: #23262F;